<div class="card text-white bg-primary mb-3" >
    <div class="card-header">LIbros<button type="button" (click)="setPrestamo()" class="btn btn-info mx-3 my-3">{{'ocultar'}}</button> </div>
    <div class="card-body">
      <h5 class="card-title">Listado de Libros</h5>
      <button type="button" (click)="setCompra()" class="btn btn-success mx-3 my-3">{{'adquirir'}}</button>
      <button type="button" (click)="setPrestamo()" class="btn btn-success mx-3 my-3">{{'Solicitar prestamo'}}</button>
    </div>
</div>
<div class="card text-white bg-primary mb-3" >
    <div class="card-header">Revistas <button type="button" (click)="setPrestamo()" class="btn btn-info mx-3 my-3">{{'ocultar'}}</button></div>
    <div class="card-body">
      <h5 class="card-title">Listado de Revistas </h5>
      <button type="button" (click)="setCompra()" class="btn btn-success mx-3 my-3">{{'adquirir'}}</button>
      <button type="button" (click)="setPrestamo()" class="btn btn-success mx-3 my-3">{{'Solicitar prestamo'}}</button>
    </div>
</div>
<div class="card text-white bg-primary mb-3" >
    <div class="card-header">Periodicos <button type="button" (click)="setPrestamo()" class="btn btn-info mx-3 my-3">{{'ocultar'}}</button> </div>
    <div class="card-body">
        <h5 class="card-title">Listado de Periodicos</h5>
        <button type="button" (click)="setCompra()" class="btn btn-success mx-3 my-3">{{'adquirir'}}</button>  
        <button type="button" (click)="setPrestamo()" class="btn btn-success mx-3 my-3">{{'Solicitar prestamo'}}</button>  
    </div>
</div>
<div class="card text-white bg-primary mb-3" >
    <div class="card-header">Mapas</div>
    <div class="card-body">
      <h5 class="card-title">Listado de Mapas <button type="button" (click)="setPrestamo()" class="btn btn-info mx-3 my-3">{{'ocultar'}}</button></h5>
      <button type="button" (click)="setCompra()" class="btn btn-success mx-3 my-3">{{'adquirir'}}</button>  
      <button type="button" (click)="setPrestamo()" class="btn btn-success mx-3 my-3">{{'Solicitar prestamo'}}</button>
    </div>
</div>